
body {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.box{
  border: 1px solid black;
  width: 250;
  text-align: center;
  padding-top: 20px;
  margin: auto;

}
h1{
  font-family:  "Lucida handwriting","brush script m7","cursive";
  font-size: 35px;
}
input.ax{
  height:35px;
  width:200px;
  background-position:center ;
}
input.px{
  height:35px;
  width:200px;
  border:1px solid black;
}
input.ex{
 background-color:dodgerblue;
 width:200px;
 height:35px;
 border-color: dodgerblue;
}
pre{
  color:hwb(160 61% 35%);
}
a.one:link{
  text-decoration: none;
}
a.two:link{
  color: black;
  text-decoration: none;
}
@media screen and(max-width: 600px)
{
  .box{
    width:100px;
  }
}